{% extends "./navbar.html" %}

{% block title %} Gestion de cursos {% endblock %}

{% block body %}
<h1>Gestion de usuarios</h1>
<div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-12">
        
    </div>
    <div class="col-sm-6 col-md-10 col-lg-8 col-xl-12 py-4">
        <div class="table-responsive  py-2 border"> 
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo electrónico</th>        
                        <th>Profesión</th>                
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in usuarios %}
                    <tr>
                        <td>{{user.codigo}}</td>
                        <td>{{user.nombres}}</td>
                        <td>{{user.apellidos}}</td>
                        <td>{{user.correoElectronico}}</td>                        
                        <td>{{user.profesion}}</td>
                        <td>
                            <a href="{% url 'editar_usuario' user.codigo %}" class="btn btn-info">Modificar</a>
                        </td>
                        <td>
                            <a href="{% url 'eliminar_usuario' user.codigo %}" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}